<footer style="background: #fae4e8">
  <div
    class="footer-container align-items-center justify-content-space-between"
    style="
      border-top: 2px solid black;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="footer-section d-flex" style="justify-content: center">
      <!-- <div>
        <a href="#" style="font-weight: bold" class="text-black">Contact</a>
      </div> -->
      <div>
        <a href="mailto:stichaura@gmail.com" class="text-black mx-4"
          >Email: stichaura&#64;gmail.com</a
        >
      </div>
      <div>
        <a href="tel:+1234567890" class="text-black">Phone: +1234567890</a>
      </div>
    </div>
  </div>

  <div class="footer-bottom" style="text-align: center; margin-top: 15px">
    <a href="#" class="text-black"
      >&copy; 2024 Stich Aura | All Rights Reserved</a
    >
  </div>
</footer>
