<nav
  class="navbar navbar-expand-lg navbar-light bg-none sticky-top"
  style="border-bottom: 2px solid black; background: #fae4e8; display: flex"
>
  <div class="container-fluid">
    <!-- Left Corner Logo -->
    <a
      class="navbar-brand text-black stylish-text"
      style="font-family: cursive; font-style: italic"
      href="#"
    >
      <img
        src="images/logo1.jpeg"
        alt="Logo"
        style="height: 60px; width: 60px"
        class="rounded-pill"
      />
      Stich Aura
    </a>

    <!-- Navbar Toggler for mobile view -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items (Middle) -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-black" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" (click)="navigateTowesternwear()"
            >Western Wear</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" (click)="navigateTobridalwear()"
            >Bridal Wear</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" (click)="navigateTocasualwear()"
            >Casual Wear</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" (click)="navigateToaboutus()"
            >About Us</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-black" (click)="navigateTocontact()"
            >Contact</a
          >
        </li>
      </ul>
    </div>

    <!-- Right Corner Icons (Cart and Account) -->
    <div class="d-flex">
      <a class="nav-link" (click)="cart()">
        <i class="bi bi-cart text-black mx-2"></i>
      </a>
      <a href="#" class="nav-link">
        <i class="bi bi-person text-black mx-2"></i>
      </a>
    </div>
  </div>
</nav>
