<!-- Top Navigation Bar -->
<div class="parent container-fluid height-md-700px">
  <!-- Full Page Background Image with Bootstrap -->
  <div class="container d-flex justify-content-center align-items-center">
    <div
      class="col-6 d-flex justify-content-center align-items-center vh-100 bg-cover"
    >
      <div class="text-center text-black">
        <h1 class="display-4">Welcome,{{ username }}! to Our Clothing Store</h1>
        <p class="lead">Discover the latest fashion trends</p>
        <a class="btn btn-dark btn-lg" (click)="navigateToLogin()">Shop Now</a>
      </div>
    </div>
    <div class="col-6 mt-5">
      <div class="container d-flex">
        <div class="col-6">
          <div class="row" style="margin-left: 65px">
            <div class="col-12">
              <img
                src="images/home2.jpg"
                class="img-fluid"
                style="
                  height: 212px;
                  width: 170px;
                  margin-bottom: 10px;
                  border-radius: 12px;
                "
              />
            </div>
            <div class="col-12">
              <img
                src="images/homeimg3.jpg"
                class="img-fluid"
                style="
                  height: 212px;
                  width: 170px;
                  margin-bottom: 10px;
                  border-radius: 12px;
                "
              />
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <img
              src="images/home1.jpg"
              class="img-fluid"
              style="height: 428px; border-radius: 24px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
