<div
  class="login-container"
  style="background: linear-gradient(#fae4e8, #f3bf92, #80deea)"
>
  <div class="card align-items-center">
    <h3 class="text-center mb-4">Login</h3>
    <form>
      <div style="display: flex" class="mb-2 mt-2">
        <h4>Username</h4>
        <div class="mx-2">
          <input type="text" placeholder="Enter your username" id="username" />
        </div>
      </div>
      <div style="display: flex" class="mb-2 mt-2">
        <h4>Password</h4>
        <div class="mx-3">
          <input
            type="password"
            name="password"
            placeholder="Enter your password"
            id="password"
          />
        </div>
      </div>
    </form>
    <a
      class="btn btn-dark btn-lg mt-4"
      style="
        border-radius: 10px;
        text-align: center;
        width: 150px;
        height: 40px;
        font-size: 18px;
      "
      (click)="login()"
    >
      LOGIN
    </a>

    <p class="text-center mt-5">
      Don't have an account?
      <a (click)="registration()">Register here</a>
    </p>
  </div>
</div>
